//Colors
$white-20: rgba(255, 255, 255, 0.2);
$white-60: rgba(255, 255, 255, 0.6);
$white: rgba(255, 255, 255, 1);
$main-color: #0f3f5d;
$bg-color: #dee3e6;

* {
  outline: none;
}

//Timeline
.timeline-carousel {
  margin: 0;

  font-family: "Roboto", sans-serif;
  font-weight: 400;
  padding: 86px 6.9444% 90px 6.9444%;
  position: relative;
  overflow: hidden;
  &:after,
  &:before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    height: 100%;
    width: 6.9444%;
    // background-color: $bg-color;
    z-index: 3;
    width: 6.9444%;
  }
  &:after {
    left: 0;
  }
  &:before {
    right: 0;
    opacity: 0;
  }
  .slick-list {
    overflow: visible;
  }
  .slick-dots {
    bottom: -73px;
  }
  h1 {
    color: $white;
    font-family: "Libre Franklin", sans-serif;
    font-weight: 700;
  }
  p {
    color: $white;
    font-weight: 300;
  }
  &__image {
    padding-right: 30px;
  }
  &__item {
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    .media-wrapper {
      opacity: 0.4;
      padding-bottom: 71.4%;
      -webkit-transition: all 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53);
      -o-transition: all 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53);
      transition: all 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    }
    &:last-child {
      .timeline-carousel__item-inner {
        &:after {
          width: calc(100% - 30px);
        }
      }
    }
  }
  &__item-inner {
    position: relative;
    padding-top: 45px;

    .title {
      font-family: "Libre Franklin", sans-serif;
      font-size: 36px;
      line-height: 36px;
      color: $white;
      display: table;
      letter-spacing: -1px;
      padding-right: 10px;
      // background-color: $bg-color;
      z-index: 1;
      position: relative;
      margin: -15px 0 20px;
      font-weight: 700;
    }
    .ratings {
      font-family: "Libre Franklin", sans-serif;
      font-size: 12px;
      text-transform: uppercase;
      color: white;
      display: block;
      margin-bottom: 10px;
      font-weight: 600;
    }
    p {
      font-size: 12px;
      line-height: 18px;
      color: $white;
      width: 70%;
      font-weight: 400;
      margin-bottom: 15px;
    }

    .pointer {
      height: 29px;
      position: relative;
      z-index: 1;
      margin: -4px 0 16px;
      &:after,
      &:before {
        position: absolute;
        content: "";
      }
      &:after {
        width: 9px;
        height: 9px;
        border-radius: 100%;
        top: 0;
        left: 0;
        background-color: $main-color;
      }
      &:before {
        width: 1px;
        height: 100%;
        top: 0;
        left: 4px;
        background-color: $main-color;
      }
    }
  }

  .slick-active {
    .media-wrapper {
      opacity: 1 !important;
    }
  }
}

// Slick dots
// .slick-dots {
//   bottom: 160px;
//   list-style: none;
//   position: absolute;
//   width: 100%;
//   left: 0;
//   text-align: center;
//   z-index: 2;
//   li {
//     cursor: grab;
//     cursor: -moz-grab;
//     cursor: -webkit-grab;
//     display: inline-block;
//     margin: 0 6px;
//     position: relative;
//     width: 10px;
//     height: 10px;
//     &:last-child {
//       margin-right: 0;
//     }
//     &.slick-active {
//       button {
//         background: $main-color;
//         border-color: $main-color;
//       }
//     }
//     button {
//       display: block;
//       font-size: 0;
//       width: 10px;
//       height: 10px;
//       padding: 0;
//       // background-color: $white-60;
//       // border-color: $white-60;
//       cursor: pointer;
//       -webkit-transition: all 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53);
//       -o-transition: all 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53);

//       transition: all 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53);
//       &:hover {
//         background: $main-color;
//         border-color: $main-color;
//       }
//     }
//   }
// }

// Link
.link {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 20px;
  z-index: 9999;
}

.slick-prev,
.slick-next {
  svg {
    height: auto;
    width: 18px;
    padding-bottom: 2px;
  }

  // .btn {
  //   border-radius: 0;
  //   font-family: "Libre Franklin", sans-serif;
  //   font-size: 12px;
  //   text-transform: uppercase;
  //   font-weight: 700;
  // }
}

.slick-prev,
.slick-next {
  position: absolute;
  top: 0;
  z-index: 9999;
  border-radius: 0;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  opacity: 0.75;
  color: $main-color !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
