#imagesBox {
  margin-top: 150px;
}

#mascot {
  height: 450px;
}

#about_mascot {
  height: 550px;
  /* width: 100%; */
}
#about_page_mascot {
  height: 550px;
  width: 100%;
}

#sectionArea {
  margin-top: 100px;
  padding-top: 100px;
}
@media only screen and (max-width: 505px) {
  #imagesBox {
    display: none;
  }

  #textFromHeading {
    display: none;
  }

  #arrowBtns {
    display: none;
  }

  #mascot {
    display: none;
  }

  #about_page_mascot {
    height: 300px;
    width: 100%;
  }

  #about_mascot {
    height: 300px;
  }

  #sectionArea {
    margin-top: 100px;
  }
}

@media (min-width: 500px) and (max-width: 992px) {
  #imagesBox {
    display: none;
  }

  #arrowBtns {
    display: none;
  }

  #mascot {
    display: none;
  }

  #about_mascot {
    height: 500px;
  }
  #about_page_mascot {
    height: 300px;
  }

  #sectionArea {
    margin-top: 100px;
  }
}

@media (max-width: 500px) {
  #web {
    display: none;
  }
}

@media (min-width: 500px) {
  #mobile {
    display: none;
  }
}

/* // footer */
@media only screen and (max-width: 992px) {
  #big {
    display: none;
  }
}

@media only screen and (min-width: 992px) {
  #small {
    display: none;
  }
}

/* // aboutUs */
@media (max-width: 500px) {
  #bgImg {
    display: none;
  }
}

@media (min-width: 500px) {
  #how {
    margin-top: 100px;
  }
}

/* // course details tabs */
#navLinks {
  color: gray;
  /* font-weight: 700; */
}

#navLinks.active {
  color: #0f3f5d;
  font-weight: bolder;
}

#navLinks:hover {
  color: #0f3f5d;
}

/* // how it works */
.boxes h1 {
  font-size: 80px;
  color: rgb(192, 192, 192);
}

#leftBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 40px;
}

.left-box-content {
  width: 400px;
  margin-left: 20px;
  margin-top: 50px;
  padding-top: 20px;
  border-top: 2px solid gray;
  position: relative;
}

.left-box-content::before {
  content: "";
  position: absolute;
  top: -6px;
  left: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: gray;
  font-weight: bold;
}

.left-box-content h2 {
  margin-top: 40px;
  font-weight: bold;
  font-size: 40px;
  width: 60%;
}

.left-box-image {
  border-radius: 20px;
  margin-left: -54px;
  /* margin-top: -10px; */
}

.left-box-image img {
  width: 400px;
  height: auto;
}

/* left box 2 */

#leftBox2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 40px;
}

.left-box-content2 {
  width: 500px;
  margin-left: 20px;
  margin-top: 50px;
  padding-top: 20px;
  border-top: 2px solid gray;
  position: relative;
}

.left-box-content2::before {
  content: "";
  position: absolute;
  top: -6px;
  left: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: gray;
  font-weight: bold;
}

.left-box-content2 h2 {
  margin-top: 40px;
  font-weight: bold;
  font-size: 40px;
  width: 60%;
}

.left-box-image2 {
  border-radius: 20px;
  margin-left: -82px;
  /* margin-top: -10px; */
}

.left-box-image2 img {
  width: 400px;
  height: auto;
}

/* left box 3 */

#leftBox3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 40px;
}

.left-box-content3 {
  width: 500px;
  margin-left: 20px;
  margin-top: 50px;
  padding-top: 20px;
  border-top: 2px solid gray;
  position: relative;
}

.left-box-content3::before {
  content: "";
  position: absolute;
  top: -6px;
  left: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: gray;
  font-weight: bold;
}

.left-box-content3 h2 {
  margin-top: 40px;
  font-weight: bold;
  font-size: 40px;
  width: 60%;
}

.left-box-image3 {
  border-radius: 20px;
  margin-left: -145px;
  margin-top: -30px;
}

.left-box-image3 img {
  width: 400px;
  height: auto;
}

/* right box */

#rightBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 40px;
}

.right-box-image {
  border-radius: 20px;
  margin-right: -77px;
  /* margin-right: -211px; */
  margin-top: -78px;
}

.right-box-image2 {
  border-radius: 20px;
  margin-right: -60px;
  /* margin-right: -211px; */
  margin-top: -78px;
}

.right-box-image img {
  width: 500px;
  height: auto;
}

.right-box-image2 img {
  width: 500px;
  height: auto;
}

.right-box-content {
  width: 400px;
  margin-right: 20px;
  margin-top: 50px;
  padding-top: 20px;
  border-top: 2px solid gray;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.right-box-content::after {
  content: "";
  position: absolute;
  top: -6px;
  right: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: gray;
  font-weight: bold;
}

.right-box-content h2 {
  margin-top: 40px;
  font-weight: bold;
  font-size: 40px;
  padding-left: 30px;
  text-align: end;
}

/* pass right box */
#rightBox-pass {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 40px;
}

.right-box-pass-image {
  border-radius: 20px;
  margin-right: -77px;
  /* margin-right: -211px; */
  margin-top: -78px;
}

.right-box-pass-image2 {
  border-radius: 20px;
  margin-right: -83px;

  /* margin-right: -211px; */
  margin-top: -58px;
}

.right-box-pass-image img {
  width: 450px;
  height: auto;
}

.right-box-pass-image2 img {
  width: 450px;
  height: auto;
}

.right-box-content-pass {
  width: 400px;
  margin-right: 20px;
  margin-top: 40px;
  padding-top: 5px;
  padding-left: 40px;
  border-top: 2px solid gray;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.right-box-content-pass::after {
  content: "";
  position: absolute;
  top: -6px;
  right: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: gray;
  font-weight: bold;
}

.right-box-content-pass h2 {
  margin-top: 40px;
  font-weight: bold;
  font-size: 40px;
  padding-left: 40px;
  text-align: end;
}

.right-box-content-pass h5 {
  padding-left: 40px;
}

/* ----- */

/* right box 3  */

#rightBox3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 40px;
}

.right-box-image3 {
  border-radius: 20px;
  margin-right: -132px;
  /* margin-right: -211px; */
  margin-top: -78px;
}

.right-box-image3 img {
  width: 500px;
  height: auto;
}

.right-box-content3 {
  width: 400px;
  margin-right: 20px;
  margin-top: 50px;
  padding-top: 20px;
  border-top: 2px solid gray;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.right-box-content3::after {
  content: "";
  position: absolute;
  top: -6px;
  right: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: gray;
  font-weight: bold;
}

.right-box-content3 h2 {
  margin-top: 40px;
  font-weight: bold;
  font-size: 40px;
  padding-left: 30px;
  text-align: end;
}

.star-heading {
  width: 600px;
  text-align: center;
}

/* left box for fail */

/* left box 3 */

#leftBox3-fail {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 40px;
}

.left-box-content3-fail {
  width: 450px;
  margin-left: 10px;
  margin-right: 50px;
  margin-top: 50px;
  padding-top: 20px;
  border-top: 2px solid gray;
  position: relative;
}

.left-box-content3-fail::before {
  content: "";
  position: absolute;
  top: -6px;
  left: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: gray;
  font-weight: bold;
}

.left-box-content3-fail h2 {
  margin-top: 40px;
  font-weight: bold;
  font-size: 40px;
  width: 60%;
}

.left-box-image3-fail {
  border-radius: 20px;
  margin-left: -145px;
  margin-top: -30px;
}

.left-box-image3-fail img {
  width: 400px;
  height: auto;
}

/* ------------------- */

/* tablet */
@media (max-width: 983px) {
  .boxes h1 {
    font-size: 50px;
  }

  .right-box-content h5 {
    font-size: 14px;
  }

  .star-heading {
    width: 500px;
    font-size: 30px;
  }

  /* first box */

  .left-box-content {
    margin-top: 30px;
  }

  .left-box-content h2 {
    margin-top: 20px;
    font-size: 20px;
  }

  .left-box-image {
    margin-left: -40px;
  }

  .left-box-image img {
    width: 300px;
  }

  /* 2nd box */

  .left-box-content2 {
    margin-top: 30px;
  }

  .left-box-content2 h2 {
    margin-top: 20px;
    font-size: 20px;
  }

  .left-box-image2 {
    margin-left: -60px;
  }

  .left-box-image2 img {
    width: 300px;
  }

  /* box 3 */

  .left-box-content3 {
    margin-top: 30px;
  }

  .left-box-content3 h2 {
    margin-top: 40px;
    font-size: 20px;
  }

  .left-box-image3 {
    margin-left: -112px;
  }

  .left-box-image3 img {
    width: 300px;
  }

  /* right boxes */

  .right-box-image {
    margin-right: -50px;
  }

  .right-box-image2 {
    border-radius: 20px;
    margin-right: -37px;
    margin-top: -60px;
  }

  .right-box-image img {
    width: 300px;
    height: auto;
  }

  .right-box-image2 img {
    width: 300px;
    height: auto;
  }

  .right-box-content {
    width: 400px;
    margin-right: 20px;
    margin-top: 30px;
    padding-top: 20px;
    border-top: 2px solid gray;
    display: flex;
    justify-content: flex-end;
    position: relative;
  }

  .right-box-content h2 {
    margin-top: 20px;
    font-weight: bold;
    font-size: 20px;
    padding-left: 30px;
    text-align: end;
  }

  /* pass */

  /* pass */

  .right-box-pass-image2 img {
    width: 300px;
  }
  .right-box-content-pass {
    width: 400px;
    margin-right: 30px;
    margin-left: 40px;
    margin-top: 0px;
    padding-top: 0px;
    border-top: 2px solid gray;
    display: flex;
    justify-content: flex-end;
    position: relative;
  }

  .right-box-content-pass h2 {
    margin-top: 20px;
    font-weight: bold;
    font-size: 20px;
    padding-left: 30px;
  }

  .right-box-content-pass h5 {
    font-size: 15px !important;
  }

  /* ---- */

  /* --- */

  /* last right box */

  #rightBox3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 40px;
  }

  .right-box-image3 {
    border-radius: 20px;
    margin-right: -45px;
    /* margin-right: -211px; */
    margin-top: -78px;
  }

  .right-box-image3 img {
    width: 300px;
    height: auto;
  }

  .right-box-content3 {
    width: 400px;
    margin-right: 20px;
    margin-top: 30px;
    padding-top: 20px;
    border-top: 2px solid gray;
    display: flex;
    justify-content: flex-end;
    position: relative;
  }

  .right-box-content3::after {
    content: "";
    position: absolute;
    top: -6px;
    right: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: gray;
    font-weight: bold;
  }

  .right-box-content3 h2 {
    margin-top: 40px;
    font-weight: bold;
    font-size: 20px;
    padding-left: 30px;
    text-align: end;
  }

  /* left box 3 fail */

  #leftBox3-fail {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 30px;
  }

  .left-box-content3-fail {
    width: 450px;
    margin-left: 10px;
    margin-right: 50px;
    margin-top: 50px;
    padding-top: 20px;
    border-top: 2px solid gray;
    position: relative;
  }

  .left-box-content3-fail::before {
    content: "";
    position: absolute;
    top: -6px;
    left: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: gray;
    font-weight: bold;
  }

  .left-box-content3-fail h2 {
    margin-top: 20px;
    font-weight: bold;
    font-size: 20px;
  }

  .left-box-image3-fail {
    margin-left: -112px;
    margin-top: -30px;
  }

  .left-box-image3-fail img {
    width: 300px;
    height: auto;
  }

  /* ------------------- */
}

/* for the mobile */

@media (max-width: 480px) {
  .boxes h1 {
    font-size: 30px;
  }

  .right-box-content h5 {
    font-size: 8px;
  }

  .boxes h5 {
    font-size: 10px;
  }

  .star-heading {
    width: 300px;
    font-size: 20px;
  }
  /* first box */

  .left-box-content {
    margin-top: 30px;
  }

  .left-box-content h2 {
    margin-top: 20px;
    font-size: 15px;
  }

  .left-box-image {
    margin-left: -25px;
  }

  .left-box-image img {
    width: 200px;
  }

  /* 2nd box */

  .left-box-content2 {
    margin-top: 20px;
  }

  .left-box-content2 h2 {
    margin-top: 10px;
    font-size: 15px;
  }

  .left-box-image2 {
    margin-left: -40px;
  }

  .left-box-image2 img {
    width: 200px;
  }

  /* box 3 */

  .left-box-content3 {
    margin-top: 30px;
  }

  .left-box-content3 h2 {
    margin-top: 10px;
    font-size: 15px;
  }

  .left-box-image3 {
    margin-left: -30px;
  }

  .left-box-image3 img {
    width: 200px;
  }

  /* right boxes */

  .right-box-image {
    margin-right: -37px;
  }

  .right-box-image2 {
    border-radius: 20px;
    margin-right: -25px;
    margin-top: -60px;
  }

  .right-box-image img {
    width: 200px;
    height: auto;
    margin-top: 50px;
  }

  .right-box-image2 img {
    width: 200px;
    height: auto;
  }

  .right-box-content {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 2px solid gray;
    display: flex;
    justify-content: flex-end;
    position: relative;
  }

  .right-box-content h2 {
    margin-top: 10px;
    font-weight: bold;
    font-size: 15px;
  }

  /* last right box */

  /* pass */

  .right-box-pass-image2 img {
    width: 150px;
  }
  .right-box-content-pass {
    width: 400px;
    margin-right: 30px;
    margin-left: 65px;
    margin-top: -30px;
    padding-top: 0px;
    border-top: 2px solid gray;
    display: flex;
    justify-content: flex-end;
    position: relative;
  }

  .right-box-content-pass h2 {
    margin-top: 20px;
    font-weight: bold;
    font-size: 15px;
    padding-left: 0px;
  }

  .right-box-content-pass h5 {
    font-size: 10px !important;
    padding-left: 0px !important;
  }

  /* ---- */

  /* --- */

  #rightBox3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 40px;
  }

  .right-box-image3 {
    border-radius: 20px;
    margin-right: -52px;
    margin-top: -25px;
  }

  .right-box-image3 img {
    width: 200px;
    height: auto;
  }

  .right-box-content3 {
    width: 400px;
    margin-right: 20px;
    margin-top: 30px;
    padding-top: 20px;
    border-top: 2px solid gray;
    display: flex;
    justify-content: flex-end;
    position: relative;
  }

  .right-box-content3 h2 {
    margin-top: 10px;
    font-weight: bold;
    font-size: 15px;
    padding-left: 30px;
    text-align: end;
  }

  /* left box 3 fail */

  #leftBox3-fail {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 30px;
  }

  .left-box-content3-fail {
    width: 450px;
    margin-left: 10px;
    margin-right: 50px;
    margin-top: 50px;
    padding-top: 20px;
    border-top: 2px solid gray;
    position: relative;
  }

  .left-box-content3-fail::before {
    content: "";
    position: absolute;
    top: -6px;
    left: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: gray;
    font-weight: bold;
  }

  .left-box-content3-fail h2 {
    margin-top: 10px;
    font-size: 15px;
  }

  .left-box-image3-fail {
    margin-left: -40px;
    margin-top: 20px;
  }

  .left-box-image3-fail img {
    width: 150px;
    height: auto;
  }
}

/* // enrollments form */
/*  */
#enrollScreen {
  height: 110vh;
}

#forImage {
  height: 110vh;
  /* background-image: url("../../public/assets/images/formImage.jpg"); */
  background-image: url("/images/common/formImage.jpg");
  background-size: cover;
  background-position: center center;
}

@media only screen and (max-width: 770px) {
  #forImage {
    display: none;
  }
}

@media screen and (max-width: 650px) {
  #startForm h2 {
    font-size: 22px;
  }
}

#rightCol {
  /* padding-top: 50px; */
}

/* phone */
.react-tel-input .special-label {
  display: none;
}

/* btn */
.myBtn {
  outline: none !important;
  background-color: #0f3f5d;
  border: 1px solid #0f3f5d !important;
  color: white;
}

.myBtn-disable {
  outline: none !important;
  background-color: #404040;
  border: 1px solid #0f3f5d !important;
  color: white;
}

.myBtn:hover {
  color: #0f3f5d !important;
  border: 1px solid #0f3f5d !important;
  background-color: white;
}

.deleteBtn {
  outline: none !important;
  background-color: #950707;
  border: 1px solid #950707 !important;
  color: white;
}

.deleteBtn:hover {
  color: #950707 !important;
  border: 1px solid #950707 !important;
  background-color: white;
}
