/*----------------------------------------*/
/*  08. CTA CSS START
/*----------------------------------------*/

.cta {
  &__contact_area {
    @include background();
    position: relative;
    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: -moz-linear-gradient(
        to bottom,
        #0f3f5d,
        #235f83,
        #3a7ba4,
        #4e96c3,
        #64b1e1,
        #7adbee
      );
      background-image: -ms-linear-gradient(
        to bottom,
        #0f3f5d,
        #235f83,
        #3a7ba4,
        #4e96c3,
        #64b1e1,
        #7adbee
      );
      background-image: -webkit-linear-gradient(
        to bottom,
        #0f3f5d,
        #235f83,
        #3a7ba4,
        #4e96c3,
        #64b1e1,
        #7adbee
      );
      background-image: linear-gradient(
        to bottom,
        #0f3f5d,
        #235f83,
        #3a7ba4,
        #4e96c3,
        #64b1e1,
        #7adbee
      );
      opacity: 0.8;
    }
  }
  &__area {
    @include background();
    position: relative;
    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      // background-image: -moz-linear-gradient(
      //   to bottom,
      //   #0f3f5d,
      //   #235f83,
      //   #3a7ba4,
      //   #4e96c3,
      //   #64b1e1,
      //   #7adbee
      // );
      // background-image: -ms-linear-gradient(
      //   to bottom,
      //   #0f3f5d,
      //   #235f83,
      //   #3a7ba4,
      //   #4e96c3,
      //   #64b1e1,
      //   #7adbee
      // );
      // background-image: -webkit-linear-gradient(
      //   to bottom,
      //   #0f3f5d,
      //   #235f83,
      //   #3a7ba4,
      //   #4e96c3,
      //   #64b1e1,
      //   #7adbee
      // );
      // background-image: linear-gradient(
      //   to bottom,
      //   #0f3f5d,
      //   #235f83,
      //   #3a7ba4,
      //   #4e96c3,
      //   #64b1e1,
      //   #7adbee
      // );
      opacity: 0.8;
    }
  }

  &__content {
    & span {
      font-family: $frank;
      font-size: 20px;
      color: $grey-3;
      display: inline-block;
      margin-bottom: 10px;
    }
    & h1 {
      font-size: 50px;
      color: #0f3f5d;
      font-weight: 900;
      margin-bottom: 50px;
      @media #{$md} {
        font-size: 55px;
      }
      @media #{$sm} {
        font-size: 40px;
      }
      @media #{$xs} {
        font-size: 30px;
      }
    }
    & h2 {
      font-size: 70px;
      color: #0f3f5d;
      font-weight: 900;
      margin-bottom: 50px;
      @media #{$md} {
        font-size: 55px;
      }
      @media #{$sm} {
        font-size: 40px;
      }
      @media #{$xs} {
        font-size: 30px;
      }
    }
  }
  &__btn {
    & a {
      &:first-child {
        margin-right: 30px;
        @media #{$xs} {
          margin-right: 5px;
        }
      }
    }
  }
}
